* {
    max-width: 1000px;
    margin: auto;
}

#search {
    padding: 0.7rem;
    margin: 2rem 0;
    width: 35vw;
}

nav {
    text-align: center;
}

div {
    margin: ;
}

.grid {
    display: grid;
    margin: .5rem auto 2rem auto;
    grid-template-columns: repeat(auto-fit,200px);
    grid-row-gap: 23px;
    grid-column-gap: 29px;
    justify-content: center;
}

.image_1 {
    display: grid;

}